@page "/user/archive"
@using Models
@using System.Net.Http.Headers
@using Newtonsoft.Json;
@inject HttpClient Http
@inject Blazored.SessionStorage.ISessionStorageService SessionStorage

<h2>Bilety archiwalne</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Wydarzenie</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ticket in _tickets)
        {
            <tr>
                <td>@ticket.EventName</td>
                <td><a href="/ticket/@ticket.TicketId" class="btn btn-primary active" aria-pressed="true">Szczegóły</a></td>
            </tr>
        }
    </tbody>
</table>

@code {
    private List<TicketList> _tickets { get; set; } = new List<TicketList>();

    protected override async Task OnInitializedAsync()
    {
        await GetTickets();
    }

    private async Task GetTickets()
    {
        using (var request = new HttpRequestMessage())
        {
            try
            {
                string token = await SessionStorage.GetItemAsync<string>("token");

                request.Method = new HttpMethod("GET");
                request.RequestUri = new Uri(@"http://localhost:5000/v1/ticket?archieve=true");
                request.Headers.Authorization = new AuthenticationHeaderValue("Bearer", token);

                var response = await Http.SendAsync(request);

                var content = await response.Content.ReadAsStringAsync();

                if (response.IsSuccessStatusCode)
                {
                    _tickets = JsonConvert.DeserializeObject<List<TicketList>>(content);
                }

            }
            catch (Exception e)
            {
                Console.WriteLine($"Unexpected error: {e.Message}");
            }
        }
    }
}
